/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --font-primary: "Poppins", sans-serif;

  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-neutral-very-light-gray);
  color: var(--color-neutral-very-dark-blue);
  font-family: var(--font-primary);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

a {
  color: #1eaedb;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0fa0ce;
}

ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--font-primary);
  margin-top: 0;
}

/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 32px;
}

/* Hero
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  text-align: center;
  max-width: 54rem;
  padding: 80px 0 64px;
  margin: 0 auto;
}

.hero__headline {
  font-size: clamp(2.4rem, 4vw, 3.6rem);
  margin-bottom: 1.6rem;
  line-height: 1.4;
}

.hero__headline span {
  display: block;
  font-weight: 200;
}

.hero__description {
  opacity: 0.5;
}

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cards {
  max-width: 111rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "supervisor team calculator"
    "supervisor karma calculator";
  gap: 3rem;
  padding-bottom: 80px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 15px 30px -11px hsla(213, 47%, 67%, 0.5);

  display: flex;
  flex-direction: column;
}

.card.supervisor {
  border-top: 4px solid var(--color-primary-cyan);
  grid-area: supervisor;
  align-self: center;
}

.card.team-builder {
  border-top: 4px solid var(--color-primary-red);
}

.card.karma {
  border-top: 4px solid var(--color-primary-orange);
}

.card.calculator {
  border-top: 4px solid var(--color-primary-blue);
  grid-area: calculator;
  align-self: center;
}

.card__headline {
  font-size: 2rem;
}

.card__description {
  opacity: 0.5;
  font-size: 1.3rem;
  margin-bottom: 40px;
  line-height: 2.3rem;
}

.card__icon {
  width: 6.4rem;
  height: 6.4rem;

  margin-top: auto;
  align-self: flex-end;
}

/* Media Query
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "supervisor"
      "team"
      "karma"
      "calculator";
    place-items: center;
    gap: 2.4rem;
    padding-bottom: 78px;
  }

  .card,
  .hero {
    max-width: 50rem;
    width: 100%;
  }

  .card {
    padding: 2.8rem;
  }

  .hero {
    padding-top: 85px;
    padding-bottom: 76px;
  }

  .card__icon {
    width: 5.7rem;
    height: 5.7rem;
  }
}
